@import '~normalize.css';
// @import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'react-calendar/dist/Calendar.css';
@import 'react-super-responsive-table/dist/SuperResponsiveTableStyle.css';
@import './hide.scss';

////////// Variables //////////

// light font color (WHEAT)
$fcl-l: #f5deb3;
$fcl-l2: rgb(255, 222, 145);
//dark font color (CHARCOAL)
$fcl-d: #364135;

//light bg color
$bgcl-l: #a897b9;
$bgcl-l2: #baba99;

//dark bg color (PURPLE)
$bgcl-d: rgb(80, 69, 85);
$bgcl-d2: rgb(107, 90, 116);
$bgcl-d3: #47226b;
$bgcl-d4: #6d6e44;

//light off-white
$ofw: #f0f0f0;
$ofw2: #fff3ed;
$ofw3: #f5ebff;

//////////////////////////////
// GENERAL
//////////////////////////////
body {
	margin: 0 auto;
	padding-top: 65px;
	background-color: $bgcl-l2;
	color: $fcl-d;
  font-size: 0.85rem;

	@include media-breakpoint-only(sm) {
		font-size: 0.9rem;
	}
	@include media-breakpoint-only(md) {
		font-size: 1rem;
	}
	@include media-breakpoint-only(xl) {
		font-size: 1.1rem;
	}
	@include media-breakpoint-up(xxl) {
		font-size: 1.15rem;
	}
}



.loader {
	margin: 100px auto;
}

.user-details {
	display: flex;
	justify-content: space-between;
}
.user-actions {
	display: flex;
	flex-direction: column;
}

//Navbar
nav.navbar div.row {
	#brandLogoWrapper {
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	#collapsedLogo {
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	#responsive-navbar-nav div.navbar-nav {
		a.loginLogoutSM {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}
	#otherNavLinksLG {
		.loginLogoutLG {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		#cartLink:hover {
			text-decoration: none;
		}
	}
	@include media-breakpoint-only(sm) {
		min-width: 576px;
	}
	@include media-breakpoint-only(md) {
		min-width: 768px;
	}
	@include media-breakpoint-only(lg) {
		min-width: 992px;
	}
	@include media-breakpoint-only(xl) {
		min-width: 1200px;
	}
	@include media-breakpoint-only(xxl) {
		min-width: 1400px;
	}
}

#brandLogo {
	@include media-breakpoint-down(lg) {
		display: none;
	}
}
//Footer
footer {
	background: $bgcl-d;
	padding-top: 25px;
	padding-left: 10px;
	padding-bottom: 25px;
	display: flex;
	.footer-inner-container {
		color: $fcl-l;
	}
	.icons a {
		padding-right: 10px;
		color: $fcl-l;
	}
	.page-links ul li {
		margin-bottom: 8px;
		text-decoration: none;
		list-style: none;
		a {
			color: $fcl-l;
		}
	}
	.disclaimer {
		color: $fcl-l;
	}
}
.desc-box {
	margin: auto;
	width: 80%;
	padding: 100px;
	background: rgba(139, 152, 164, 0.233) none no-repeat scroll 0 0;
	text-align: center;
	@include media-breakpoint-only(md) {
		width: 100%;
		padding: 50px;
	}
	@include media-breakpoint-down(sm) {
		padding: 10px;
	}
	p {
		font-size: 1.2rem;
		line-height: 24pt;
		@include media-breakpoint-down(md) {
			font-size: 1.1rem;
			line-height: 20pt;
		}
		@include media-breakpoint-down(sm) {
			font-size: 1rem;
			line-height: 18pt;
		}
	}
}

//About Us

#aboutUs {
	background-color: $ofw;
	color: $fcl-d;
}

.timeline {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	&:before {
		content: '';
		position: absolute;
		left: 50%;
		width: 3px;
		height: 100%;
		background: $ofw;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			position: relative;
			width: 50%;
			padding: 20px 40px;
			@include media-breakpoint-up(lg) {
				min-height: 260px;
			}

			&:nth-child(odd) {
				float: left;
				text-align: right;
				clear: both;
				&:before {
					content: '';
					position: absolute;
					width: 64px;
					height: 64px;
					top: 0;
					right: -34px;
					background: url('./images/about-us/grow.png') no-repeat
						scroll 50%;
					background-size: 50px;
				}
				img {
					position: absolute;
					top: 0;
					left: 105%;
					margin: 0;
					padding: 8px 16px;
					@include media-breakpoint-up(lg) {
						max-height: 260px;
						object-fit: contain;
						object-position: center left;
					}
					@include media-breakpoint-up(md) {
						max-height: 180px;
					}
				}
			}
			&:nth-child(even) {
				float: right;
				text-align: left;
				clear: both;
				&:before {
					content: '';
					position: absolute;
					width: 64px;
					height: 64px;
					top: 0;
					left: -31px;
					background: url('./images/about-us/grow.png') no-repeat
						scroll 50%;
					background-size: 50px;
				}
				img {
					position: absolute;
					top: 0;
					right: 105%;
					margin: 0;
					padding: 8px 16px;
					@include media-breakpoint-up(xl) {
						max-height: 300px;
					}
					@include media-breakpoint-up(lg) {
						max-height: 260px;
						object-fit: contain;
						object-position: center right;
					}
					@include media-breakpoint-up(md) {
						max-height: 180px;
					}
				}
			}
			.content {
				padding-bottom: 20px;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.timeline {
		width: 100%;
	}
}

@include media-breakpoint-down(md) {
	.timeline {
		width: 100%;
		&:before {
			left: 20px;
			height: 100%;
		}
		ul {
			li {
				.content {
					padding-left: 10px;
				}
			}
			li:nth-child(odd),
			li:nth-child(even) {
				width: 100%;
				text-align: left;
				padding-left: 50px;
				padding-right: 16px;
				&:before {
					top: 8px;
					left: -11px;
				}
				img {
					top: 2.5rem;
					left: inherit;
					width: 28vw;
					height: 30vw;
					height: calc(200px - 10vw);
					object-fit: cover;
					object-position: center center;
					right: 0;
					z-index: -1;
					opacity: 0.8;
					padding: 0;
				}
			}
			li.has_thumbnail {
				padding-right: 30vw !important;
			}
		}
	}
}

//react calendar
#roastSchedule {
	h2.h1 {
		text-align: center;
		margin-top: 50px;
	}
}
.react-calendar {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 20px;
	background-color: $ofw;
	width: 100%;
	@include media-breakpoint-up(md) {
		width: 80%;
		padding: 50px;
		margin-bottom: 100px;
		margin-top: 50px;
	}
	@include media-breakpoint-up(lg) {
		width: 60%;
	}
	@include media-breakpoint-up(xl) {
		width: 50%;
	}

	button.react-calendar__navigation__label {
		span {
			font-weight: bold;
			font-size: 14pt;
			@include media-breakpoint-up(md) {
				font-size: 16pt;
			}
			@include media-breakpoint-up(xl) {
				font-size: 18pt;
			}
		}
	}
}
button,
select {
	font-size: 12pt;
	@include media-breakpoint-up(md) {
		font-size: 14pt;
	}
	@include media-breakpoint-up(xl) {
		font-size: 16pt;
	}
}
//Schedule > Roast Table

#coffeeTable {
	background-color: $ofw;
tr {    
    td {
		vertical-align: middle;

    }
    td.qtyWrapper {
      @include media-breakpoint-up(lg) {
        max-width: 50px;
        padding-right: 5px;
      }
      @include media-breakpoint-only(md) {
        width: 50px;
      }
    }
	}
}

//Offerings

#offerings {
	width: 80%;
	margin: auto;
	background-color: $ofw2;

	@include media-breakpoint-only(md) {
		width: 90%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	.cardDesc {
    text-align: justify;
		@include media-breakpoint-up(md) {
			height: 270px;
			overflow: auto;
		}
	}
	.card-body {
		input {
			width: 5rem;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
		button {
			@include media-breakpoint-up(sm) {
				margin: 23px 0 0 0;
			}
			@include media-breakpoint-up(xs) {
				margin: auto;
				width: 100%;
			}
		}
	}

	h1 {
		text-align: center;
	}
	.list-group.lgScrnContent {
		width: 80%;
		margin: auto;
		@include media-breakpoint-down(lg) {
			display: none;
		}
		@include media-breakpoint-down(xxl) {
			width: 90%;
		}

		.list-group-item {
			background-color: $bgcl-d2;
			display: block;
			padding: 20px;
      margin:2px 0;
			@include media-breakpoint-down(xl) {
				padding: 5px;
			}

			.product-wrapper {
				margin-left: 0;
				background-color: $ofw3;
				border-radius: 10%;
				max-width: 300px;
  
				img {
					display: block;
					margin: auto;
					object-fit: cover;
					padding: 10px 0;
					max-width: 250px;
				}
			}
			img:hover {
				cursor: pointer;
				transform: scale(1.05);
			}
			h2,
			h3,
			h4 {
				color: rgb(255, 222, 145);
			}
			ul {
				margin: 0;
				li {
					color: #fff;
					list-style: none;
					font-size: larger;
					text-align: left;
					strong {
						text-transform: uppercase;
					}
				}
			}
			.flavor-profile {
				color: $fcl-l;
				span {
					margin-left: 20px;
					font-size: 14pt;
					@include media-breakpoint-down(xl) {
						display: block;
						width: 100%;
						padding: 20px 0;
						margin-left: 0;
					}
				}
				img {
					border-radius: 10%;
					margin-left: 20px;
					@include media-breakpoint-down(xl) {
						// width: 50%;
						margin: 0 0 20px 0;
					}
				}
			}
			.orderForm .addToCart {
				width: 100%;
				margin-top: 40px;
			}
		}
	}
	div.container .smScrnContent {
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	.accordion-button:not(.collapsed) {
		background-color: #d4bb5988;
		color: #47226b;
	}
	.accordion-button:not(.collapsed)::after {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2347226B'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	}
}

//Contact Us

#contactUs {
	background-color: $ofw2;
	margin: 50px 0 50px 0;
	color: rgb(33, 37, 41);
	padding-bottom: 50px;
	padding-top: 2px;

	#contactUsHeader {
		padding: 20px 20px 40px 20px;
		margin: 20px 0 0 0;
		color: #47226b;
		background-color: #a897b9;
	}
	div#contactLeft form {
		background-color: #fff3ed;
		padding: 20px;
	}
	#contactUsPic {
		background-image: url('./images/contactUs.jpg');
		background-color: $fcl-d;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 500px;
	}
	.divider {
		height: 40px;
		background-color: #a897b9;
	}
}

//Carousel

.carousel-caption {
	z-index: 10;
}
.carousel-item img, .carousel-item {
  @include media-breakpoint-up(md) {
    height: 550px;
  }
  @include media-breakpoint-only(sm) {
    height: 500px;
  }
  @include media-breakpoint-only(xs) {
    height: 350px;
  }
}
.carousel-item {
  // position:relative;
  img {
    object-fit: cover;
    // position: absolute;

  }
}

//Checkout
.card-text form {
	width: 250px;
}

//Forms
form div {
  margin:20px 0;
}
.auth-form {
	margin-top: 10px;
}